@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "@tailwindcss/typography";

@theme {
    --color-primary-50: #eff6ff;
    --color-primary-600: #3b82f6;
    --color-primary-dark-50: #1e293b;
    --color-primary-dark-600: #60a5fa;
    --color-logo: linear-gradient(to bottom right, #22D3EE, #6366F1);
    --open-gradient-from: #22D3EE;
    --open-gradient-to: #6366F1;
    --color-docs-primary: #42b983;
}

body { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }



/************************ 深度定制 Markdown 样式 **************************************/
/* 1. 优化文章排版 */
.markdown-body {
    /* 字体优化 */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    line-height: 1.7;
    color: #2c3e50;
}

.prose h1, .prose h2, .prose h3 {
    @apply font-semibold tracking-tight border-b border-gray-100 pb-2 mb-4 mt-8;
}

.prose blockquote {
    @apply border-l-4 border-emerald-500 bg-emerald-50/50 py-1 not-italic text-slate-600 rounded-r-lg;
}

/* 4. 左侧树激活态样式 */
.tree-item-active {
    @apply border-r-4 border-emerald-500 bg-emerald-50 text-emerald-600 font-semibold;
}
/************************ 深度定制 Markdown 样式 **************************************/


/* 添加到你的全局样式文件中 */
pre code {
    counter-reset: linenumber;
}

pre code span.line {
    counter-increment: linenumber;
}

pre code span.line::before {
    content: counter(linenumber);
    display: inline-block;
    width: 2em;
    margin-right: 2em;
    text-align: right;
    font-weight: bold;
    color: #4E4E4E;
}